<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362999204854-2hjso2an9fnq9fb367dghurqef4mk608.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362999204854-2hjso2an9fnq9fb367dghurqef4mk608</string>
	<key>API_KEY</key>
	<string>AIzaSyD6ucKOA2B7L2_bpe3urYrQkKQSUruRn30</string>
	<key>GCM_SENDER_ID</key>
	<string>362999204854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsChatApp</string>
	<key>PROJECT_ID</key>
	<string>whatschatapp-c5315</string>
	<key>STORAGE_BUCKET</key>
	<string>whatschatapp-c5315.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362999204854:ios:29631f73415fd6de70d5d7</string>
</dict>
</plist>